@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  /* Remova a linha que define o background-color para html e body */
}

/* ... suas outras regras globais ... */

html {
  /* background-image: url(../../public/imgs/img3.png); */
  background-size: cover;
  background-position: center;
}
